@model List<Postagem>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog de Hunter x Hunter</h1>
    <p>Confira aqui as últimas noticias e caçadores mais picas do planeta!!! </p>
</div>

@foreach (Postagem postagem in Model) {
    <img src="@postagem.Foto" width="200">
    <p>@postagem.Nome</p>
}